body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh !important;
  font-family: "Jost", sans-serif !important;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) !important;
}

.authform {
  display: flex !important;
  justify-content: center !important;
  margin-top: 5rem !important;
}

.main {
  width: 350px !important;
  height: 500px !important;
  background: red !important;
  overflow: hidden !important;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/cover !important;
  border-radius: 10px !important;
  box-shadow: 5px 20px 50px #000 !important;
}

#chk {
  display: none !important;
}

.signup {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

label {
  color: #fff !important;
  justify-content: center !important;
  display: flex !important;
  margin: 19px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: 0.5s ease-in-out !important;
}

input {
  width: 60% !important;
  height: 10px !important;
  background: #e0dede !important;
  justify-content: center !important;
  display: flex !important;
  margin: 20px auto !important;
  padding: 12px !important;
  border: none !important;
  outline: none !important;
  border-radius: 5px !important;
}

button {
  width: 60% !important;
  height: 40px !important;
  margin: 10px auto !important;
  justify-content: center !important;
  display: block !important;
  color: #fff !important;
  background: #573b8a !important;
  font-size: 1em !important;
  font-weight: bold !important;
  margin-top: 30px !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
  transition: 0.2s ease-in !important;
  cursor: pointer !important;
}

button:hover {
  background: #6d44b8 !important;
}

.login {
  height: 460px !important;
  background: #eee !important;
  border-radius: 60% / 10% !important;
  transform: translateY(-100px) !important;
  transition: 0.8s ease-in-out !important;
}

.login label {
  color: #573b8a !important;
  transform: scale(0.6) !important;
}

.hidden {
  display: none !important;
}

#chk:checked ~ .login {
  transform: translateY(-470px) !important;
}

#chk:checked ~ .login label {
  transform: scale(1) !important;
}

#chk:checked ~ .signup label {
  transform: scale(0.6) !important;
}

.typeSelection {
  display: flex !important;
  align-items: center !important;
  margin: auto !important;
  padding: 0.41rem !important;
  width: 60% !important;
}

.loginLabel {
  font-size: 3rem !important;
}
